# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db